footer.footer.bg-dark
  .container.bg-dark.text-white
    .row
      .col-md-6
        h3.text-info Elérhetőségek
        ul.list-unstyled.three-column
          li
            i.fab.fa-youtube(aria-hidden='true')
              | ÉpítészSuli youtube csatornája
          li
            i.fab.fa-facebook(aria-hidden='true')
              | Xtrememiners facebook oldala
          li
            i.fab.fa-twitch(aria-hidden='true')
              | Xtrememiners Twitch csatornája
          li
            i.fab.fa-discord
              | Xtrememiners discord csatornája
          li
            i.fab.fa-github(aria-hidden='true')
              | A tutorial github oldala
          li
            i.fab.fa-twitter(aria-hidden='true')
              | ÉpítészSuli Twitterre
          li
            elza.fab.fa-facebook(aria-hidden='true')
              | Elza cica facebook oldala
      .col-md-6
        h3.text-info Sitemap
        ul.list-unstyled.three-column
          li
            a.text-white(href='/') Homepage
          li
            a.text-white(href='/register') Regisztráció
          li
            a.text-white(href='/admin') Admin


